/*body*/
/**/

/*Header*/

.header{
    height: 100px;
    max-width: 1196px;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.header img{
    height: 100px;
    width: auto;
    margin: 0px;
}
/* 
.header .color{
    width: 300px;
    height: auto;
    left: 30px;
}

.color1{
    height: 100px;
    width: 100px;
}

.color2{
    height: 100px;
    width: 100px;
}

.color3{
    height: 100px;
    width: 100px;
} */

header nav{
    border-bottom: 2px solid;
    border-top: 2px solid;
    max-width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

/**/

/*main*/

main{
    display: grid;
    height: auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

figure{
    margin: 0px;
    width: auto;
    height: auto;
}

img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

h1{
    height: auto;
    width: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 0px;
}

/**/

/*Footer*/

footer nav{
    max-width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/**/

/*Index*/

.grid_2-1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.grid_2-1 .col{
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.grid_1-1 .col{
    border: 2px solid black;
}

dl .grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


section.grid_1-1 .col:last-child{
    border: 2px solid black;
    margin: 0px;
    /* order: -1; */
}

/**/ 

/*Min computer*/
/**/

/*operativsystemer*/


.grid_5-3{
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 10px;

}

.grid_5-3 .col{
    margin: 0px;
    border: 2px solid black;
}

.grid_5-3 img{
    height: auto;
}

.grid_2-3{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
    border: 2px solid black; 
}

.grid_2-3 img{
    margin-top: 30px;
}

.grid_3-2{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
    border: 2px solid black;
    margin-top: 10px;
}

.grid_3-2 img{
    margin-top: 30px;
}

.grid_3-2 .col-2:last-child{
    /* order: -1; */
}

aside{
    padding: 0px;
    margin: 0px;
}

/**/

/*komponenter*/

.grid_1-1-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.flex_col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid black;
}

.flex_col img:last-child{
    margin-top: auto;
}

.flex_col img{
    height: auto;
}

/**/

/*galleri*/

.max-65{
    max-width: 65ch;
}

.grid_1-1-1-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.grid_1-1-1-1 img{
    height: auto;

}

.span-2x2{
    grid-column: span 2;
    grid-row: span 2;
    margin: 0px;
}

.span-1x1{
    grid-column: span 1;
    grid-row: span 1;
    margin: 0px;
}

.span-2x1{
    grid-column: span 2;
    grid-row: span 1;
    margin: 0px;
}

.span-1x1{
    grid-column: span 1;
    grid-row: span 1;
    margin: 0px;
}

.span-3x1{
    grid-column: span 3;
    grid-row: span 1;
    margin: 0px;
}

/**/

/*@media*/

/* 
@media (max-width: 800px){
    body, header, main, footer{
        width: none;
    }
    .grid_1-1, .grid_2-3, .grid_3-2{
        grid-template-columns: 1fr;
    }
} */


@media (max-width: 800px){
    .grid_2-1, .grid_1-1, .grid_5-3, .grid_2-3, .grid_3-2, .grid_1-1-1, .grid_1-1-1-1{
        grid-template-columns: 1fr;  
    }
}

@media (min-width: 800px){
    ul{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 0px;
    }
}

@media (min-width: 800px){
    header a, footer a{
    background-color: #F8F8F8;
    border: 1px solid #b9b9b9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    }
}



@media (min-width: 800px){
    section.grid_1-1 .col:last-child, .grid_3-2 .col-2:last-child{
        order: -1;
    }
}

/**/